html,body{
    width: 100%;
    scroll-behavior: smooth;
}

.container-xxl{
    max-width: 1200px;
    margin: 0 auto;
}

.container-xl{
    max-width: 992px;
    margin: 0 auto;
}

.container-lg{
    max-width: 768px;
    margin: 0 auto;
}

.col-2{
    width: calc(2 * 100% / 12);
}

.col-3{
    width: calc(3 * 100% / 12);
}

.col-4{
    width: calc(4 * 100% / 12);
}

.col-6{
    width: calc(6 * 100% / 12);
}

.col-8{
    width: calc(8 * 100% / 12);
}

.col-9{
    width: calc(9 * 100% / 12);
}