.d-flex{
    display: flex;
}

.justify-content-center{
    justify-content: center;
}

.justify-space-between{
    justify-content: space-between;
}

.justify-space-around{
    justify-content: space-around;
}