$brand-color: #40C4FF;
$brand-light-color: #9CE0FF;
$brand-lightest-color: #F7FDFF;
$brand-light-bg: #F2F8FC;
$gold-color: #FED73F;
$brand-dark-color: #222222;
$dark-color: #303030;
$lightest-gray: #E6E6E6;
$light-gray: #A3A3A3;
